<!doctype html>
<html>
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/style.css">

<head>

	<title>Who lived When By Elisabet</title>
	<meta charset ="utf-8">
</head>

<body>
<form action="{% url "question_page" quiz.slug question_number %}" method="post">
{% csrf_token %}

	<input type="submit" style="background-image: url({{ answer1 }}); border: solid 0px #000000; width: 33%; height: 40vw; background-size: 100% auto; color: transparent" name="answer" value="1" class="svarsbild" ><input type="submit" style="background-image: url({{ answer2 }}); border: solid 0px #000000; width: 33%; height: 40vw; background-size: 100% auto; color: transparent" name="answer" value="2" class="svarsbild"><input type="submit" style="background-image: url({{ answer3 }}); border: solid 0px #000000; width: 33%; height: 40vw; background-size: 100% auto; color: transparent" name="answer" value ="3" class="svarsbild">
	<br>
	<h1>{{ question_number }}. {{ question }}</h1>
<br></br>
</br>
</form>
<!---
<div class="tabell">
	<div class="row">
		<div class="column"> 1. </div>
		<div class="column"> 2. </div>
		<div class="column"> 3. </div>
	</div>
</div>
-->

</body>
</html>