<!doctype html>
<html>
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/style.css">

<head>
	<title>Who lived When By Elisabet</title>
	<meta charset ="utf-8">
</head>

<body>	

	<img src="/static/Obama.jpg"><img src="/static/marilyn.jpg"><img src="/static/miley.jpg">
	<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>

	<a href="{% url "question_page" quiz.slug 1 %}" class="myButton">Take this quiz and find out!</a>
	</br>
<br></br>
<!---
<input type="image" src="Obama.jpg" name="image">
<div class="tabell">
	<div class="row">
		<div class="column"> 1. </div>
		<div class="column"> 2. </div>
		<div class="column"> 3. </div>
	</div>
</div>
-->

</body>

</html>