<!doctype html>
<html>
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="style.css">

<head>
	<title>Who lived When By Elisabet</title>
	<meta charset ="utf-8">
</head>

<body>
	<img src="Obama.jpg"><img src="marilyn.jpg"><img src="miley.jpg">
	<h1><u>Great!</u></h1>
	<h2>But not as many people are sure about who are living at the same time.<br>
	Do you know what person that don't belong in the mix?</br></h2>
			<a href="fragesida.html" class="myButton">Take this quiz and find out!</a>
	</br>
<br></br>
<!---
<input type="image" src="Obama.jpg" name="image">
<div class="tabell">
	<div class="row">
		<div class="column"> 1. </div>
		<div class="column"> 2. </div>
		<div class="column"> 3. </div>
	</div>
</div>
-->

</body>

</html>